/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

header {
  background: #255299;
}

header a {
  color: var(--dor, #ff8f60);
  font-family: Mplus 1p;
  font-size: 24px;
  font-weight: 400;
  line-height: 115%; /* 27.6px */
  padding: 36px;
}

.h1 {
  background-image: url(../img/fond_titre.png);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding: 177px 0px;
}

.selection h2 {
  padding: 81px 0 13px 0;
}

h2 {
  color: var(--bleu-titre, #255299);
  font-family: "M PLUS 1", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

h3 {
  color: var(--dor, #ff8f60);
  font-family: "M PLUS 1p", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 115%; /* 27.6px */
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 36px;
  padding-bottom: 26px;
}

.articl img {
  border-radius: 0 24px 0 0;
}

.articl p {
  overflow: hidden;
  color: var(--dor, #ff8f60);
  text-overflow: ellipsis;
  padding: 0px 25px 25px 25px;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.card {
  background: #255299;
  flex-shrink: 0;
  height: 100%;
  border-radius: 0 24px 0 0;
}

.card-img {
  width: 100%;
}

.lien {
  color: var(--bleu-titre, #255299);
  text-align: end;
  font-family: "M PLUS 1", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding-top: 26px;
  padding-bottom: 67px;
}

.horaires {
  background: #e7e7e7;
}

.horaires h2 {
  text-align: center;
  padding-top: 37px;
  padding-bottom: 23px;
}

.horaires p {
  color: var(--bleu-titre, #255299);
  text-align: center;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%; /* 27.6px */
  padding-bottom: 50px;
}

.horaires em {
  color: var(--dor, #ff8f60);
  font-family: "M PLUS 1p", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bouton-reservation {
  color: var(--bleu-titre, #255299);
  font-family: "Bakbak One", sans-serif;
  font-size: 24px;
  font-weight: 400;
  border-radius: 11px;
  background: var(--dor, #ff8f60);
  width: 174px;
  height: 54px;
  flex-shrink: 0;
  margin: 39px 0px 121px 0px;
  text-align: center;
}

.img-nuriture img {
  width: 100%;
}

.citation {
  color: #fff;
  text-align: center;
  font-family: "Satisfy", cursive;
  font-size: 28px;
  font-weight: 400;
  background: #255299;
  padding: 154px 163px;
}

.reservation p {
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #255299;
  width: 395px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 11px;
}

.reservation a {
  color: var(--bleu-titre, #255299);
  /* bouton */
  font-family: "Bakbak One", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  width: 277px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 11px;
  background: var(--dor, #ff8f60);
}

footer {
  background: #255299;
  color: #ff8f60;
}
/* ====================================
// rend les colones visibles
// ==================================== */

/* font-family: "Bakbak One", sans-serif;
font-family: "M PLUS 1", sans-serif;
font-family: "M PLUS 1p", sans-serif;
font-family: "Satisfy", cursive; */
